In [1]:
#import required libraries
import pandas as pd
import numpy as np
from IPython.display import Markdown as md,display
import time
import datetime

In [2]:
data = pd.read_csv('data/finalTrain.csv')
data

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
0,0xcdcd,DEHRES17DEL01,36.0,4.2,30.327968,78.046106,30.397968,78.116106,12-02-2022,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46
1,0xd987,KOCRES16DEL01,21.0,4.7,10.003064,76.307589,10.043064,76.347589,13-02-2022,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23
2,0x2784,PUNERES13DEL03,23.0,4.7,18.562450,73.916619,18.652450,74.006619,04-03-2022,17:30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21
3,0xc8b6,LUDHRES15DEL02,34.0,4.3,30.899584,75.809346,30.919584,75.829346,13-02-2022,09:20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20
4,0xdb64,KNPRES14DEL02,24.0,4.7,26.463504,80.372929,26.593504,80.502929,14-02-2022,19:50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45579,0x7c09,JAPRES04DEL01,30.0,4.8,26.902328,75.794257,26.912328,75.804257,24-03-2022,11:35,11:45,Windy,High,1,Meal,motorcycle,0.0,No,Metropolitian,32
45580,0xd641,AGRRES16DEL01,21.0,4.6,0.000000,0.000000,0.070000,0.070000,16-02-2022,19:55,20:10,Windy,Jam,0,Buffet,motorcycle,1.0,No,Metropolitian,36
45581,0x4f8d,CHENRES08DEL03,30.0,4.9,13.022394,80.242439,13.052394,80.272439,11-03-2022,23:50,24:05:00,Cloudy,Low,1,Drinks,scooter,0.0,No,Metropolitian,16
45582,0x5eee,COIMBRES11DEL01,20.0,4.7,11.001753,76.986241,11.041753,77.026241,07-03-2022,13:35,13:40,Cloudy,High,0,Snack,motorcycle,1.0,No,Metropolitian,26
45583,0x5fb2,RANCHIRES09DEL02,23.0,4.9,23.351058,85.325731,23.431058,85.405731,02-03-2022,17:10,17:15,Fog,Medium,2,Snack,scooter,1.0,No,Metropolitian,36

In [3]:
dummy = data[~data.isna().any(axis=1)]

In [4]:
dummy

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
0,0xcdcd,DEHRES17DEL01,36.0,4.2,30.327968,78.046106,30.397968,78.116106,12-02-2022,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46
1,0xd987,KOCRES16DEL01,21.0,4.7,10.003064,76.307589,10.043064,76.347589,13-02-2022,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23
2,0x2784,PUNERES13DEL03,23.0,4.7,18.562450,73.916619,18.652450,74.006619,04-03-2022,17:30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21
3,0xc8b6,LUDHRES15DEL02,34.0,4.3,30.899584,75.809346,30.919584,75.829346,13-02-2022,09:20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20
4,0xdb64,KNPRES14DEL02,24.0,4.7,26.463504,80.372929,26.593504,80.502929,14-02-2022,19:50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45579,0x7c09,JAPRES04DEL01,30.0,4.8,26.902328,75.794257,26.912328,75.804257,24-03-2022,11:35,11:45,Windy,High,1,Meal,motorcycle,0.0,No,Metropolitian,32
45580,0xd641,AGRRES16DEL01,21.0,4.6,0.000000,0.000000,0.070000,0.070000,16-02-2022,19:55,20:10,Windy,Jam,0,Buffet,motorcycle,1.0,No,Metropolitian,36
45581,0x4f8d,CHENRES08DEL03,30.0,4.9,13.022394,80.242439,13.052394,80.272439,11-03-2022,23:50,24:05:00,Cloudy,Low,1,Drinks,scooter,0.0,No,Metropolitian,16
45582,0x5eee,COIMBRES11DEL01,20.0,4.7,11.001753,76.986241,11.041753,77.026241,07-03-2022,13:35,13:40,Cloudy,High,0,Snack,motorcycle,1.0,No,Metropolitian,26
45583,0x5fb2,RANCHIRES09DEL02,23.0,4.9,23.351058,85.325731,23.431058,85.405731,02-03-2022,17:10,17:15,Fog,Medium,2,Snack,scooter,1.0,No,Metropolitian,36

In [5]:
dummy[(~dummy.Time_Orderd.str.contains(r'[0-9]{2}:[0-9]{2}',na=False)) | (~dummy.Time_Order_picked.str.contains(r'[0-9]{2}:[0-9]{2}',na=False))]

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
28,0x6531,SURRES08DEL01,20.0,4.8,21.173343,72.792731,21.183343,72.802731,30-03-2022,0.458333333,11:10,Sandstorms,Low,2,Meal,scooter,1.0,No,Metropolitian,19
31,0x9b18,BANGRES17DEL01,22.0,4.8,12.972532,77.608179,13.042532,77.678179,18-03-2022,0.958333333,23:10,Fog,Low,1,Snack,motorcycle,1.0,No,Metropolitian,28
36,0xc644,KOLRES16DEL02,37.0,4.9,22.539129,88.365507,22.559129,88.385507,13-02-2022,10:55,0.458333333,Fog,Low,1,Snack,scooter,1.0,No,Urban,16
38,0x63b6,BANGRES05DEL03,27.0,4.9,12.970324,77.645748,13.030324,77.705748,19-03-2022,0.791666667,19:15,Windy,Medium,1,Drinks,scooter,1.0,No,Metropolitian,25
46,0x272d,COIMBRES07DEL03,24.0,4.7,10.961850,76.971082,11.051850,77.061082,10-03-2022,17:55,0.75,Sunny,Medium,0,Buffet,motorcycle,0.0,No,Urban,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45544,0x46b6,PUNERES03DEL01,36.0,4.9,18.554382,73.798206,18.594382,73.838206,26-03-2022,0.541666667,13:10,Windy,High,2,Drinks,scooter,0.0,No,Metropolitian,28
45545,0x6607,COIMBRES16DEL02,26.0,4.2,11.010375,76.952950,11.030375,76.972950,01-04-2022,0.416666667,10:10,Windy,Low,0,Drinks,motorcycle,1.0,No,Urban,18
45566,0x91d5,HYDRES03DEL03,34.0,4.9,17.422819,78.449578,17.482819,78.509578,24-03-2022,21:45,0.916666667,Stormy,Jam,1,Meal,motorcycle,1.0,No,Metropolitian,28
45573,0x59ae,PUNERES13DEL02,30.0,4.6,18.562450,73.916619,18.582450,73.936619,01-04-2022,0.375,09:15,Cloudy,Low,0,Meal,motorcycle,0.0,No,Metropolitian,20
45577,0x4e21,BANGRES16DEL03,28.0,4.9,13.029198,77.570997,13.059198,77.600997,30-03-2022,21:55,0.916666667,Sandstorms,Jam,1,Meal,scooter,1.0,No,Metropolitian,29

In [6]:
d2 = dummy[~((~dummy.Time_Orderd.str.contains(r'[0-9]{2}:[0-9]{2}',na=False)) | (~dummy.Time_Order_picked.str.contains(r'[0-9]{2}:[0-9]{2}',na=False)))]

In [7]:
41359-7576

33783

In [8]:
d2['Time_Orderd'] = pd.to_datetime(d2['Order_Date'] + ' ' + d2['Time_Orderd'])
d2

C:\Users\Laxmi\AppData\Local\Temp\ipykernel_11404\2925431706.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d2['Time_Orderd'] = pd.to_datetime(d2['Order_Date'] + ' ' + d2['Time_Orderd'])

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
0,0xcdcd,DEHRES17DEL01,36.0,4.2,30.327968,78.046106,30.397968,78.116106,12-02-2022,2022-12-02 21:55:00,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46
1,0xd987,KOCRES16DEL01,21.0,4.7,10.003064,76.307589,10.043064,76.347589,13-02-2022,2022-02-13 14:55:00,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23
2,0x2784,PUNERES13DEL03,23.0,4.7,18.562450,73.916619,18.652450,74.006619,04-03-2022,2022-04-03 17:30:00,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21
3,0xc8b6,LUDHRES15DEL02,34.0,4.3,30.899584,75.809346,30.919584,75.829346,13-02-2022,2022-02-13 09:20:00,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20
4,0xdb64,KNPRES14DEL02,24.0,4.7,26.463504,80.372929,26.593504,80.502929,14-02-2022,2022-02-14 19:50:00,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45579,0x7c09,JAPRES04DEL01,30.0,4.8,26.902328,75.794257,26.912328,75.804257,24-03-2022,2022-03-24 11:35:00,11:45,Windy,High,1,Meal,motorcycle,0.0,No,Metropolitian,32
45580,0xd641,AGRRES16DEL01,21.0,4.6,0.000000,0.000000,0.070000,0.070000,16-02-2022,2022-02-16 19:55:00,20:10,Windy,Jam,0,Buffet,motorcycle,1.0,No,Metropolitian,36
45581,0x4f8d,CHENRES08DEL03,30.0,4.9,13.022394,80.242439,13.052394,80.272439,11-03-2022,2022-11-03 23:50:00,24:05:00,Cloudy,Low,1,Drinks,scooter,0.0,No,Metropolitian,16
45582,0x5eee,COIMBRES11DEL01,20.0,4.7,11.001753,76.986241,11.041753,77.026241,07-03-2022,2022-07-03 13:35:00,13:40,Cloudy,High,0,Snack,motorcycle,1.0,No,Metropolitian,26
45583,0x5fb2,RANCHIRES09DEL02,23.0,4.9,23.351058,85.325731,23.431058,85.405731,02-03-2022,2022-02-03 17:10:00,17:15,Fog,Medium,2,Snack,scooter,1.0,No,Metropolitian,36

In [9]:
d2.Time_Order_picked = d2.Time_Order_picked.str.replace('24','00')

C:\Users\Laxmi\AppData\Local\Temp\ipykernel_11404\2426127224.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d2.Time_Order_picked = d2.Time_Order_picked.str.replace('24','00')

In [10]:
d2.Time_Order_picked.str.contains('24').sum()

0

In [11]:
d2['Time_Order_picked'] = pd.to_datetime(d2['Order_Date'] + ' ' + d2['Time_Order_picked'])
d2

C:\Users\Laxmi\AppData\Local\Temp\ipykernel_11404\3356507651.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d2['Time_Order_picked'] = pd.to_datetime(d2['Order_Date'] + ' ' + d2['Time_Order_picked'])

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
0,0xcdcd,DEHRES17DEL01,36.0,4.2,30.327968,78.046106,30.397968,78.116106,12-02-2022,2022-12-02 21:55:00,2022-12-02 22:10:00,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46
1,0xd987,KOCRES16DEL01,21.0,4.7,10.003064,76.307589,10.043064,76.347589,13-02-2022,2022-02-13 14:55:00,2022-02-13 15:05:00,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23
2,0x2784,PUNERES13DEL03,23.0,4.7,18.562450,73.916619,18.652450,74.006619,04-03-2022,2022-04-03 17:30:00,2022-04-03 17:40:00,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21
3,0xc8b6,LUDHRES15DEL02,34.0,4.3,30.899584,75.809346,30.919584,75.829346,13-02-2022,2022-02-13 09:20:00,2022-02-13 09:30:00,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20
4,0xdb64,KNPRES14DEL02,24.0,4.7,26.463504,80.372929,26.593504,80.502929,14-02-2022,2022-02-14 19:50:00,2022-02-14 20:05:00,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45579,0x7c09,JAPRES04DEL01,30.0,4.8,26.902328,75.794257,26.912328,75.804257,24-03-2022,2022-03-24 11:35:00,2022-03-24 11:45:00,Windy,High,1,Meal,motorcycle,0.0,No,Metropolitian,32
45580,0xd641,AGRRES16DEL01,21.0,4.6,0.000000,0.000000,0.070000,0.070000,16-02-2022,2022-02-16 19:55:00,2022-02-16 20:10:00,Windy,Jam,0,Buffet,motorcycle,1.0,No,Metropolitian,36
45581,0x4f8d,CHENRES08DEL03,30.0,4.9,13.022394,80.242439,13.052394,80.272439,11-03-2022,2022-11-03 23:50:00,2022-11-03 00:05:00,Cloudy,Low,1,Drinks,scooter,0.0,No,Metropolitian,16
45582,0x5eee,COIMBRES11DEL01,20.0,4.7,11.001753,76.986241,11.041753,77.026241,07-03-2022,2022-07-03 13:35:00,2022-07-03 13:40:00,Cloudy,High,0,Snack,motorcycle,1.0,No,Metropolitian,26
45583,0x5fb2,RANCHIRES09DEL02,23.0,4.9,23.351058,85.325731,23.431058,85.405731,02-03-2022,2022-02-03 17:10:00,2022-02-03 17:15:00,Fog,Medium,2,Snack,scooter,1.0,No,Metropolitian,36

In [12]:
(time.mktime((pd.to_datetime(d2['Time_Order_picked'].iloc[0])).timetuple()) - time.mktime((pd.to_datetime(d2['Time_Orderd'].iloc[0])).timetuple()))/60

15.0

In [13]:
diff = pd.to_datetime(d2['Time_Order_picked']) - pd.to_datetime(d2['Time_Orderd'])
diff.dt.seconds/60

0        15.0
1        10.0
2        10.0
3        10.0
4        15.0
         ...
45579    10.0
45580    15.0
45581    15.0
45582     5.0
45583     5.0
Length: 33783, dtype: float64

In [14]:
pd.to_datetime(d2['Time_Order_picked'])

0       2022-12-02 22:10:00
1       2022-02-13 15:05:00
2       2022-04-03 17:40:00
3       2022-02-13 09:30:00
4       2022-02-14 20:05:00
                ...
45579   2022-03-24 11:45:00
45580   2022-02-16 20:10:00
45581   2022-11-03 00:05:00
45582   2022-07-03 13:40:00
45583   2022-02-03 17:15:00
Name: Time_Order_picked, Length: 33783, dtype: datetime64[ns]

In [15]:
diff = (pd.to_datetime(d2['Time_Order_picked']) - pd.to_datetime(d2['Time_Orderd'])).dt.seconds/60

In [16]:
d2.insert(loc=11, column='Prep_time', value=diff)

In [17]:
d2

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,...,Prep_time,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
0,0xcdcd,DEHRES17DEL01,36.0,4.2,30.327968,78.046106,30.397968,78.116106,12-02-2022,2022-12-02 21:55:00,...,15.0,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46
1,0xd987,KOCRES16DEL01,21.0,4.7,10.003064,76.307589,10.043064,76.347589,13-02-2022,2022-02-13 14:55:00,...,10.0,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23
2,0x2784,PUNERES13DEL03,23.0,4.7,18.562450,73.916619,18.652450,74.006619,04-03-2022,2022-04-03 17:30:00,...,10.0,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21
3,0xc8b6,LUDHRES15DEL02,34.0,4.3,30.899584,75.809346,30.919584,75.829346,13-02-2022,2022-02-13 09:20:00,...,10.0,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20
4,0xdb64,KNPRES14DEL02,24.0,4.7,26.463504,80.372929,26.593504,80.502929,14-02-2022,2022-02-14 19:50:00,...,15.0,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45579,0x7c09,JAPRES04DEL01,30.0,4.8,26.902328,75.794257,26.912328,75.804257,24-03-2022,2022-03-24 11:35:00,...,10.0,Windy,High,1,Meal,motorcycle,0.0,No,Metropolitian,32
45580,0xd641,AGRRES16DEL01,21.0,4.6,0.000000,0.000000,0.070000,0.070000,16-02-2022,2022-02-16 19:55:00,...,15.0,Windy,Jam,0,Buffet,motorcycle,1.0,No,Metropolitian,36
45581,0x4f8d,CHENRES08DEL03,30.0,4.9,13.022394,80.242439,13.052394,80.272439,11-03-2022,2022-11-03 23:50:00,...,15.0,Cloudy,Low,1,Drinks,scooter,0.0,No,Metropolitian,16
45582,0x5eee,COIMBRES11DEL01,20.0,4.7,11.001753,76.986241,11.041753,77.026241,07-03-2022,2022-07-03 13:35:00,...,5.0,Cloudy,High,0,Snack,motorcycle,1.0,No,Metropolitian,26
45583,0x5fb2,RANCHIRES09DEL02,23.0,4.9,23.351058,85.325731,23.431058,85.405731,02-03-2022,2022-02-03 17:10:00,...,5.0,Fog,Medium,2,Snack,scooter,1.0,No,Metropolitian,36

In [18]:
len(d2.columns)

21

In [19]:
d2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33783 entries, 0 to 45583
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           33783 non-null  object
 1   Delivery_person_ID           33783 non-null  object
 2   Delivery_person_Age          33783 non-null  float64
 3   Delivery_person_Ratings      33783 non-null  float64
 4   Restaurant_latitude          33783 non-null  float64
 5   Restaurant_longitude         33783 non-null  float64
 6   Delivery_location_latitude   33783 non-null  float64
 7   Delivery_location_longitude  33783 non-null  float64
 8   Order_Date                   33783 non-null  object
 9   Time_Orderd                  33783 non-null  datetime64[ns]
 10  Time_Order_picked            33783 non-null  datetime64[ns]
 11  Prep_time                    33783 non-null  float64
 12  Weather_conditions           33783 non-null  object
 13  Road_traffic_density         33783 non-null  object
 14  Vehicle_condition            33783 non-null  int64
 15  Type_of_order                33783 non-null  object
 16  Type_of_vehicle              33783 non-null  object
 17  multiple_deliveries          33783 non-null  float64
 18  Festival                     33783 non-null  object
 19  City                         33783 non-null  object
 20  Time_taken (min)             33783 non-null  int64
dtypes: datetime64[ns](2), float64(8), int64(2), object(9)
memory usage: 5.7+ MB

In [20]:
def haversine_np(lon1, lat1, lon2, lat2):
    """
    Calculate the great circle distance between two points
    on the earth (specified in decimal degrees)

    All args must be of equal length.    

    """
    lon1, lat1, lon2, lat2 = map(np.radians, [lon1, lat1, lon2, lat2])

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = np.sin(dlat/2.0)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2.0)**2

    c = 2 * np.arcsin(np.sqrt(a))
    km = 6378 * c
    return km

In [21]:
import numpy as np
import pandas
lon1, lon2, lat1, lat2 = np.random.randn(4, 1000000)
df = pandas.DataFrame(data={'lon1':lon1,'lon2':lon2,'lat1':lat1,'lat2':lat2})
km = haversine_np(df['lon1'],df['lat1'],df['lon2'],df['lat2'])

In [22]:
df

            lon1      lon2      lat1      lat2
0       0.968546  0.194132  0.072783  0.234004
1      -0.833991 -0.301052  0.023991  1.666276
2       0.209541  0.556820 -0.378069  0.784020
3      -0.113035 -1.324243 -1.774012 -0.231221
4      -2.291906  0.202610 -0.078952  1.412883
...          ...       ...       ...       ...
999995 -0.076648 -1.129302 -1.036123  0.106648
999996 -0.317198  1.256197 -0.550334 -0.635283
999997  1.432132 -0.597261 -0.288417 -0.967060
999998  0.086396 -0.856304  0.283730  0.057623
999999  1.909478 -1.666739 -0.571623  0.930315

[1000000 rows x 4 columns]

In [23]:
distance_km = haversine_np(d2['Restaurant_longitude'],d2['Restaurant_latitude'],d2['Delivery_location_longitude'],d2['Delivery_location_latitude'])

In [24]:
d2.insert(loc=20,column='Distance',value=distance_km.round(2))

In [25]:
d2.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,...,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Distance,Time_taken (min)
0,0xcdcd,DEHRES17DEL01,36.0,4.2,30.327968,78.046106,30.397968,78.116106,12-02-2022,2022-12-02 21:55:00,...,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,10.29,46
1,0xd987,KOCRES16DEL01,21.0,4.7,10.003064,76.307589,10.043064,76.347589,13-02-2022,2022-02-13 14:55:00,...,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,6.25,23
2,0x2784,PUNERES13DEL03,23.0,4.7,18.562450,73.916619,18.652450,74.006619,04-03-2022,2022-04-03 17:30:00,...,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,13.80,21
3,0xc8b6,LUDHRES15DEL02,34.0,4.3,30.899584,75.809346,30.919584,75.829346,13-02-2022,2022-02-13 09:20:00,...,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,2.93,20
4,0xdb64,KNPRES14DEL02,24.0,4.7,26.463504,80.372929,26.593504,80.502929,14-02-2022,2022-02-14 19:50:00,...,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,19.42,41

In [26]:
distance_km.round(2)

0        10.29
1         6.25
2        13.80
3         2.93
4        19.42
         ...
45579     1.49
45580    11.02
45581     4.66
45582     6.24
45583    12.09
Length: 33783, dtype: float64

In [27]:
d2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33783 entries, 0 to 45583
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           33783 non-null  object
 1   Delivery_person_ID           33783 non-null  object
 2   Delivery_person_Age          33783 non-null  float64
 3   Delivery_person_Ratings      33783 non-null  float64
 4   Restaurant_latitude          33783 non-null  float64
 5   Restaurant_longitude         33783 non-null  float64
 6   Delivery_location_latitude   33783 non-null  float64
 7   Delivery_location_longitude  33783 non-null  float64
 8   Order_Date                   33783 non-null  object
 9   Time_Orderd                  33783 non-null  datetime64[ns]
 10  Time_Order_picked            33783 non-null  datetime64[ns]
 11  Prep_time                    33783 non-null  float64
 12  Weather_conditions           33783 non-null  object
 13  Road_traffic_density         33783 non-null  object
 14  Vehicle_condition            33783 non-null  int64
 15  Type_of_order                33783 non-null  object
 16  Type_of_vehicle              33783 non-null  object
 17  multiple_deliveries          33783 non-null  float64
 18  Festival                     33783 non-null  object
 19  City                         33783 non-null  object
 20  Distance                     33783 non-null  float64
 21  Time_taken (min)             33783 non-null  int64
dtypes: datetime64[ns](2), float64(9), int64(2), object(9)
memory usage: 5.9+ MB

In [28]:
d2.Delivery_person_Ratings.unique()

array([4.2, 4.7, 4.3, 4.5, 4. , 4.1, 5. , 4.8, 4.9, 3.5, 4.6, 4.4, 3.9,
       3.8, 3.7, 2.6, 2.5, 3.6, 3.1, 2.7, 3.2, 3.4, 2.8, 3.3, 2.9, 3. ])

In [29]:
d2.columns = d2.columns.str.replace(' ','').str.replace("(",'_').str.replace(")",'')

C:\Users\Laxmi\AppData\Local\Temp\ipykernel_11404\2258802572.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  d2.columns = d2.columns.str.replace(' ','').str.replace("(",'_').str.replace(")",'')
C:\Users\Laxmi\AppData\Local\Temp\ipykernel_11404\2258802572.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  d2.columns = d2.columns.str.replace(' ','').str.replace("(",'_').str.replace(")",'')

In [30]:
d2.columns

Index(['ID', 'Delivery_person_ID', 'Delivery_person_Age',
       'Delivery_person_Ratings', 'Restaurant_latitude',
       'Restaurant_longitude', 'Delivery_location_latitude',
       'Delivery_location_longitude', 'Order_Date', 'Time_Orderd',
       'Time_Order_picked', 'Prep_time', 'Weather_conditions',
       'Road_traffic_density', 'Vehicle_condition', 'Type_of_order',
       'Type_of_vehicle', 'multiple_deliveries', 'Festival', 'City',
       'Distance', 'Time_taken_min'],
      dtype='object')

In [31]:
d2.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,...,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Distance,Time_taken_min
0,0xcdcd,DEHRES17DEL01,36.0,4.2,30.327968,78.046106,30.397968,78.116106,12-02-2022,2022-12-02 21:55:00,...,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,10.29,46
1,0xd987,KOCRES16DEL01,21.0,4.7,10.003064,76.307589,10.043064,76.347589,13-02-2022,2022-02-13 14:55:00,...,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,6.25,23
2,0x2784,PUNERES13DEL03,23.0,4.7,18.562450,73.916619,18.652450,74.006619,04-03-2022,2022-04-03 17:30:00,...,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,13.80,21
3,0xc8b6,LUDHRES15DEL02,34.0,4.3,30.899584,75.809346,30.919584,75.829346,13-02-2022,2022-02-13 09:20:00,...,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,2.93,20
4,0xdb64,KNPRES14DEL02,24.0,4.7,26.463504,80.372929,26.593504,80.502929,14-02-2022,2022-02-14 19:50:00,...,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,19.42,41

In [32]:
d2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33783 entries, 0 to 45583
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           33783 non-null  object
 1   Delivery_person_ID           33783 non-null  object
 2   Delivery_person_Age          33783 non-null  float64
 3   Delivery_person_Ratings      33783 non-null  float64
 4   Restaurant_latitude          33783 non-null  float64
 5   Restaurant_longitude         33783 non-null  float64
 6   Delivery_location_latitude   33783 non-null  float64
 7   Delivery_location_longitude  33783 non-null  float64
 8   Order_Date                   33783 non-null  object
 9   Time_Orderd                  33783 non-null  datetime64[ns]
 10  Time_Order_picked            33783 non-null  datetime64[ns]
 11  Prep_time                    33783 non-null  float64
 12  Weather_conditions           33783 non-null  object
 13  Road_traffic_density         33783 non-null  object
 14  Vehicle_condition            33783 non-null  int64
 15  Type_of_order                33783 non-null  object
 16  Type_of_vehicle              33783 non-null  object
 17  multiple_deliveries          33783 non-null  float64
 18  Festival                     33783 non-null  object
 19  City                         33783 non-null  object
 20  Distance                     33783 non-null  float64
 21  Time_taken_min               33783 non-null  int64
dtypes: datetime64[ns](2), float64(9), int64(2), object(9)
memory usage: 5.9+ MB

In [33]:
d2.columns

Index(['ID', 'Delivery_person_ID', 'Delivery_person_Age',
       'Delivery_person_Ratings', 'Restaurant_latitude',
       'Restaurant_longitude', 'Delivery_location_latitude',
       'Delivery_location_longitude', 'Order_Date', 'Time_Orderd',
       'Time_Order_picked', 'Prep_time', 'Weather_conditions',
       'Road_traffic_density', 'Vehicle_condition', 'Type_of_order',
       'Type_of_vehicle', 'multiple_deliveries', 'Festival', 'City',
       'Distance', 'Time_taken_min'],
      dtype='object')

In [34]:
d2.Vehicle_condition.value_counts()

0    11391
2    11208
1    11184
Name: Vehicle_condition, dtype: int64

In [35]:
d2.Weather_conditions.unique() #Nominal

array(['Fog', 'Stormy', 'Sandstorms', 'Windy', 'Cloudy', 'Sunny'],
      dtype=object)

In [36]:
d2.Type_of_order.unique() #Nominal

array(['Snack', 'Meal', 'Drinks', 'Buffet'], dtype=object)

In [37]:
d2.Type_of_vehicle.unique() #N0minal

array(['motorcycle', 'scooter', 'electric_scooter'], dtype=object)

In [38]:
d2.Festival.unique() #Nominal

array(['No', 'Yes'], dtype=object)

In [39]:
d2.City.unique() #nominal

array(['Metropolitian', 'Urban', 'Semi-Urban'], dtype=object)

In [40]:
d2.multiple_deliveries.unique() #Ordinal

array([3., 1., 0., 2.])

In [41]:
d2.Road_traffic_density.unique() #ordinal

array(['Jam', 'High', 'Medium', 'Low'], dtype=object)

In [42]:
d2.Vehicle_condition.unique() #Ordinal

array([2, 1, 0], dtype=int64)

In [43]:
d2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33783 entries, 0 to 45583
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           33783 non-null  object
 1   Delivery_person_ID           33783 non-null  object
 2   Delivery_person_Age          33783 non-null  float64
 3   Delivery_person_Ratings      33783 non-null  float64
 4   Restaurant_latitude          33783 non-null  float64
 5   Restaurant_longitude         33783 non-null  float64
 6   Delivery_location_latitude   33783 non-null  float64
 7   Delivery_location_longitude  33783 non-null  float64
 8   Order_Date                   33783 non-null  object
 9   Time_Orderd                  33783 non-null  datetime64[ns]
 10  Time_Order_picked            33783 non-null  datetime64[ns]
 11  Prep_time                    33783 non-null  float64
 12  Weather_conditions           33783 non-null  object
 13  Road_traffic_density         33783 non-null  object
 14  Vehicle_condition            33783 non-null  int64
 15  Type_of_order                33783 non-null  object
 16  Type_of_vehicle              33783 non-null  object
 17  multiple_deliveries          33783 non-null  float64
 18  Festival                     33783 non-null  object
 19  City                         33783 non-null  object
 20  Distance                     33783 non-null  float64
 21  Time_taken_min               33783 non-null  int64
dtypes: datetime64[ns](2), float64(9), int64(2), object(9)
memory usage: 5.9+ MB

In [44]:

# example of a ordinal encoding
from numpy import asarray
from sklearn.preprocessing import OrdinalEncoder
# define data
data = asarray([['red'], ['green'], ['blue']])
print(data)
# define ordinal encoding
encoder = OrdinalEncoder(categories=[''])
# transform data
result = encoder.fit_transform(data)
print(result)

[['red']
 ['green']
 ['blue']]

TypeError: iteration over a 0-d array

In [49]:
d2.to_csv('eda_cleaned.csv',index=False)